<div>
    <div class="container">
        <div class="left-container">
            <div class="prevent">
                PREVENTIVO
            </div>
            <div class="status">
                ESTATUS
            </div>
            <div class="enturnam">
                ENTURNAMIENTOS
            </div>
        </div>
        <div class="center-container">
            <div class="cabezales">
                CABEZALES
            </div>
            <div class="arrastres">
                ARRASTRES
            </div>
        </div>
        <div class="right-container">
            <div class="program">
                PROGRAMACION
            </div>
        </div>
    </div>
</div>