.container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    /* align-items: center; */
    height: 100%;
    margin-top: 2%;
}

.left-container{
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 10px;
}
.center-container{
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.header{
    justify-content: center;
    margin-bottom: 3px;
}

.wrapper {
    width: 400px;
    overflow: auto;
  }

  .mat-table {
    max-width: 1200px;
  }