<div>
    <div class="container">
        <div class="left-container">
            <div class="prevent">
                <mat-card>
                    <mat-card-content>PREVENTIVO</mat-card-content>
                  </mat-card>
            </div>
            <div class="status">
                <mat-card >
                    <mat-card-header class="header">MANTENIMIENTOS</mat-card-header>
                  
                    <mat-table #table [dataSource]="matenimientoDataSource" matSort #sort="matSort" class="wrapper">
                        <ng-container matColumnDef="placa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
                            <td mat-cell *matCellDef="let element"> TEST009 </td>
                        </ng-container>
        
                       
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let element"> {{element.estado?.nombre}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="inicio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="compromiso">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Compromiso </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha_compromiso}} </td>
                        </ng-container>
        
        
                        <tr mat-header-row *matHeaderRowDef="mantenimientosColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: mantenimientosColumns;"></tr>
                    </mat-table>
                
                    <mat-paginator #paginator [pageSizeOptions]="[5, 7,10]" showFirstLastButtons></mat-paginator>
                  </mat-card>
                
            </div>
            <div class="enturnam">
                <mat-card>
                    <mat-card-content>ENTURNAMIENTOS</mat-card-content>
                  </mat-card>
            </div>
        </div>
        <div class="center-container">
            <div>
                <!-- <div class="col">
                    <input #filter class="search-bar" (keyup)="applyFilter($event)"  placeholder="Search...">
                </div> -->
                <mat-card>
                    <mat-card-header class="header">TRAILERS</mat-card-header>
                  
                <mat-table #table [dataSource]="trailerDataSource" matSort #sort="matSort">
                    <ng-container matColumnDef="trailer_placa">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
                        <td mat-cell *matCellDef="let element"> {{element.trailer_placa}} </td>
                    </ng-container>
    
                   
                    <ng-container matColumnDef="tipo_equipo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Equipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipo_equipo?.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipo_trailer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Trailer </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipo_trailer.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="trailer_modelo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
                        <td mat-cell *matCellDef="let element"> {{element.trailer_modelo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="trailer_pesovacio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
                        <td mat-cell *matCellDef="let element"> {{element.trailer_pesovacio}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.estado.nombre}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="trailersColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: trailersColumns;"></tr>
                </mat-table>
            
                <mat-paginator #paginator [pageSizeOptions]="[5, 7,10]" showFirstLastButtons></mat-paginator>
            </mat-card>
            </div>

            <div>
                HOLA
            </div>

            
            <!-- <div class="cabezales">
                <mat-card>
                    <mat-card-content>CABEZALES</mat-card-content>
                  </mat-card>
            </div>
            <div class="arrastres">
                <mat-card>
                    <mat-card-content>ARRASTRES</mat-card-content>
                  </mat-card>
            </div> -->
        </div>
        <div class="right-container">
            <div class="program">
                <mat-card>
                    <mat-card-content>PROGRAMACION</mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>
</div>