.container{
    width: 94%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    /* align-items: center; */
    height: 100%;
    margin-top: 2%;
}

.left-container{
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 10px;
}
.center-container{
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.header{
    justify-content: center;
    margin-bottom: 3px;
}

.wrapper {
    /* width: 400px; */
    overflow: auto;
  }

  .mat-table {
    max-width: 1200px;
  }

  .mat-mdc-card-header{
    background-color: rgb(159, 168, 218);
    padding: 5px;
  }
  .down-button{
    background-color: rgb(159, 168, 218);
    padding: 5px;
    margin: 2px;
  }

  mat-table {
    width: 100%;
  }
  
  table td, table th {
    padding: 2px 10px;
  }
  td {
    text-align: center
  }
  

  .mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}
  