<div>
    <div class="container">
        <div class="left-container">
            <div class="prevent">
                PREVENTIVO
            </div>
            <div class="status">
                ESTATUS
            </div>
            <div class="enturnam">
                ENTURNAMIENTOS
            </div>
        </div>
        <div class="center-container">
            <mat-table #table [dataSource]="datasource" matSort #sort="matSort">
                <ng-container matColumnDef="contenedor_numero">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.contenedor_numero}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="contenedor_pesomaximo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> peso </th>
                    <td mat-cell *matCellDef="let element"> {{element.contenedor_pesomaximo}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>
            <!-- <div class="cabezales">
                CABEZALES
            </div>
            <div class="arrastres">
                ARRASTRES
            </div> -->
        </div>
        <div class="right-container">
            <div class="program">
                PROGRAMACION
            </div>
        </div>
    </div>
</div>