<div class="centered main-card">
    <div class="normal-side center-flex" style="flex-direction:column;">
        <div class="title">
            Planificador
        </div>
        <div class="info-form">
            <form class="example-form"  [formGroup]="plannerForm" style="overflow: hidden;">

                <div class="regular-flex">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Placa</mat-label>
                        <!-- <input formControlName="placa" matInput placeholder="AFR-009" > -->
                        <mat-select formControlName="placa" matInput>
                            <input (keyup)="onKey($event)" matInput>
                            <mat-option *ngFor="let value of selectedlist" [value]="value">{{value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Arrastre</mat-label>
                        <input formControlName="arrastre" matInput placeholder="PKG-890">
                      </mat-form-field>
                </div>

                <div class="regular-flex">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Cliente</mat-label>
                        <input formControlName="cliente" matInput placeholder="Ikea">
                      </mat-form-field>
    
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Ruta</mat-label>
                        <input formControlName="ruta" matInput placeholder="Quito-Bogota">
                      </mat-form-field>
                </div>

                <div class="regular-flex">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input placeholder="dd/mm/AAAA" formControlName="fecha" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
    
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Conductor</mat-label>
                        <input formControlName="conductor" matInput placeholder="PKG-890">
                      </mat-form-field>
                </div>

                <button class="example-full-width " style="margin-left: 10px;" mat-raised-button color="primary" [disabled]="!plannerForm.valid" (click)="onClick()">Ingresar</button>
            </form>
        </div>
      </div>
      
      <div class="normal-side center-flex">
        <h2>Done</h2>
  
      </div>
</div>