<div class="centered main-card">
    <div class="normal-side center-flex" style="flex-direction:column;">
        <div class="title">
            Planificador
        </div>
        <div class="info-form">
            <form class="example-form"  [formGroup]="plannerForm" style="overflow: hidden;">

                <div class="regular-flex">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Placa</mat-label>
                        <mat-select formControlName="placa" matInput placeholder="PKG-890">
                          <span class="search-input">
                            <input (keyup)="onKey($event,'vehiculos')" matInput>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                          </span>
                          <mat-option *ngFor="let value of selectedVehiculos" [value]="value">{{value.vehiculo_placa}}</mat-option>
                      </mat-select>
                      </mat-form-field>
                    
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Arrastre</mat-label>
                        <mat-select formControlName="arrastre" matInput placeholder="CP090">
                          <span class="search-input">
                            <input (keyup)="onKey($event,'arrastres')" matInput>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                          </span>
                          <mat-option *ngFor="let value of selectedArrastres" [value]="value">{{value.trailer_placa}}</mat-option>
                      </mat-select>
                      </mat-form-field>
                </div>

                <!-- <div class="regular-flex"> -->
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Cliente</mat-label>
                        <mat-select formControlName="cliente" matInput>
                          <span class="search-input">
                            <input (keyup)="onKey($event,'clientes')" matInput>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                          </span>
                          <mat-option *ngFor="let value of selectedClients" [value]="value">{{value.cliente_nombre}}</mat-option>
                      </mat-select>
                      </mat-form-field>
    
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Ruta</mat-label>
                        <mat-select formControlName="ruta" matInput  placeholder="Quito-Bogota">
                          <span class="search-input">
                            <input (keyup)="onKey($event,'rutas')" (keydown)="$event.stopPropagation()" matInput>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                          </span>
                          <mat-option *ngFor="let value of selectedRutas" [value]="value"  [matTooltip]="'Ruta Indicada: ' + value?.ruta_indicacion">
                            {{value?.ciudad_origen?.nombre}} - {{ value?.ciudad_destino?.nombre}}
                          </mat-option>
                      </mat-select>
                      </mat-form-field>
                <!-- </div> -->

                <div class="regular-flex">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input placeholder="dd/mm/AAAA" formControlName="fecha" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
    
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Conductor</mat-label>
                        <input formControlName="conductor" matInput placeholder="PKG-890">
                      </mat-form-field>
                </div>

                <div class="regular-flex" *ngIf="data.duracion != null && data.fin != null"  >
                  <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Duracion (Horas)</mat-label>
                      <input [value]="data.duracion" matInput disabled="true">
                    </mat-form-field>
  
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Fecha (Fin)</mat-label>
                      <input [value]="data.fin" matInput disabled="true">
                    </mat-form-field>
              </div>

                <button class="example-full-width " style="margin-left: 10px;" mat-raised-button color="primary" [disabled]="!plannerForm.valid" (click)="onClick()">Ingresar</button>
            </form>
        </div>
      </div>
      
      <div class="normal-side center-flex">
        <h2>Done</h2>
  
      </div>
</div>