<div>
  <div class="centered main-card">
    <div class="ima-log">
      <div class="ima-container">
          <img style="width:100%;" src="../../../assets/images/Logo_silog.png">
      </div>
  </div>
  <div class="normal-side center-flex" style="flex-direction:column;">
    <div class="title">
      Recuperar
    </div>
    <div class="info-form">
      <form class="example-form"  [formGroup]="restoreForm" style="overflow: hidden;">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="doctor@test.com" >
        </mat-form-field>
      
        <button class="example-full-width " mat-raised-button color="primary" [disabled]="!restoreForm.valid" (click)="onClick()">Recuperar</button>
      </form>
    </div>
  </div>
  <div class="blue-side center-flex">
    <img style="width: 70%;"  src="../../../assets/images/camion.png">
  </div>
    
</div>
